.m-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.card {
    width: 24rem;
    height: 18rem;
    background: #f0efef;
    border-radius: 1.5rem;
}

.c-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    background: #fff;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.c-text {
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding-right: 0.7rem;
}

.c-text h1 {
    font-size: 1.7rem;
}

.c-text>p {
    padding-top: 0.5rem;
    color: gray;
}

.c-text>h4 {
    font-size: 1.1rem;
    padding-top: 0.5rem;
    color: var(--text);
    cursor: pointer;
}

.c-text h4 span {
    color: black;
}

.c-cont i {
    color: var(--primary);
    font-size: 2.3rem;
}

.c-text>h4:hover {
    color: black;
}

@media only screen and (max-width: 768px) {
    .m-card {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        width: 20rem;
        height: 16rem;
    }

    .c-cont {
        width: 4.5rem;
        height: 4.5rem;
        margin-top: 1rem;
    }

    .c-text {
        margin-top: 0.5rem;
    }

    .c-text h1 {
        font-size: 1.3rem;
    }
}