.contact {
    margin-bottom: 8rem;
}

.con-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    gap: 2rem;
}

.con-text {
    text-align: start;
}

.con-text>h4 {
    font-size: 1.5rem;
}

.con-text>h1 {
    font-size: 3.8rem;
    margin-top: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.names,
.e-cont {
    display: flex;
    gap: 0.8rem;
}

.names>input,
.e-cont>input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid #d3d0d0;
    outline: none;
    background: #f0efef;
    padding-left: 1rem;

}

.mess>input {
    width: 31rem;
    height: 15rem;
    border-radius: 1.5rem;
    border: 1px solid #d3d0d0;
    outline: none;
    background: #f0efef;
    padding-bottom: 12rem;
    padding-left: 1rem;
}

.con-icon {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-top: 1rem;
}

.i-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.i-bg {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-bg>i {
    font-size: 1.2rem;
}

.i-text>h2 {
    font-size: 0.9rem;
    font-weight: 500;
}

.f-button>button {
    margin-top: 1.5rem;
    background: var(--text);
}

.f-button>button:hover {
    background: #000;
    color: white;
}

.i-bg>i:hover {
    color: black;
}

@media only screen and (max-width: 768px) {
    .con-content {
        flex-direction: column;
        gap: 0;
        margin-top: 4rem;
    }

    form {
        margin-top: 2rem;
    }

    .contact {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 425px) {
    .con-content {
        margin-top: 2.5rem;
    }

    .con-text {
        text-align: center;
    }

    .con-text>h1 {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .con-text>p {
        width: 20rem;
        font-size: 0.7rem;
    }

    .i-content {
        margin-left: 1rem;
    }

    .i-bg {
        width: 2rem;
        height: 2rem;
        background: var(--text);
    }

    .i-bg>i {
        font-size: 1rem;
    }

    .names,
    .e-cont {
        flex-direction: column;
    }

    .names>input,
    .e-cont>input {
        font-size: 0.7rem;
    }

    .mess>input {
        width: 20rem;
        height: 12rem;
        padding-bottom: 9.5rem;
        font-size: 0.7rem;
    }

    .f-button>button {
        margin-top: 1rem;
    }
}