.p-main {
    background: #f0efef;
}

.p-text {
    padding-top: 6rem;
    margin-left: 12rem;
}

.p-text>h3 {
    font-size: 2rem;
}

.p-text>h1 {
    font-size: 3rem;
    padding-top: 0.5rem;
}

.p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.pc-cont {
    width: 37rem;
    height: 40.8rem;
    background: #fff;
    border-radius: 1.5rem;
    margin-bottom: 7.3rem;
}

.c {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.proj>img {
    width: 35rem;
    height: 30rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    object-fit: cover;
}

.des {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.des-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: var(--text);
    border-radius: 2rem;
    color: white;
}

.des-p h1 {
    font-size: 0.9rem;
}

.proj-text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.des-p:hover {
    background: #000;
}

@media only screen and (max-width: 768px) {
    .p-card {
        flex-direction: column;
        gap: 0;
        margin-top: 0.5rem;
    }

    .p-text {
        text-align: center;
        margin-left: 0rem;
    }

    .pc-cont {
        margin-bottom: 4.3rem;
    }
}

@media only screen and (max-width: 425px) {
    .p-text {
        padding-top: 2.5rem;
    }

    .p-text>h1 {
        font-size: 2.2rem;
        padding-top: 0.5rem;
    }

    .pc-cont {
        width: 20rem;
        height: 22rem;
        background: #fff;
        border-radius: 1.5rem;
        margin-bottom: 2.3rem;
    }

    .proj>img {
        width: 18rem;
        height: 15rem;
        border-radius: 1.5rem;
        margin-top: 1rem;
        object-fit: cover;
    }

    .des-p {
        width: 5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
    }

    .des-p h1 {
        font-size: 0.6rem;
    }

    .proj-text {
        font-size: 0.5rem;
    }
}