.button {
    margin-right: 2rem;
}

button {
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: none;
    background: var(--secondary);
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: white;
    color: var(--secondary);
}