.p-main {
    background: #f0efef;
}

.p-text {
    padding-top: 6rem;
    margin-left: 12rem;
}

.p-text > h3 {
    font-size: 2rem;
}

.p-text > h1 {
    font-size: 3rem;
    padding-top: 0.5rem;
}

.p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;

}

.pc-cont {
    width: 37rem;
    height: 40.8rem;
    background: #fff;
    border-radius: 1.5rem;
    margin-bottom: 7.3rem;
}

.c {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.proj > img{
    width: 35rem;
    height: 30rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    object-fit: cover;
}

.des {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.des-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: var(--text);
    border-radius: 2rem;
    color: white;
}

.des-p h1 {
    font-size: 0.9rem;
}

.proj-text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.des-p:hover {
    background: #000;
}