@import url(logo.css);
@import url(header.css);
@import url(navbar.css);
@import url(button.css);
@import url(cone.css);
@import url(services.css);
@import url(card.css);
@import url(me.css);
@import url(skilss.css);

:root {
    --primary: #4e5dc9;
    --secondary: #d3ae97;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


